#map {
    border:1px solid black;
    height:800px;
    width:1400px;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
 

  rect .bars {
    fill: black;
  
  }
  div.tooltip-donut {
     position: absolute;
     text-align: center;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 1.3rem;
}